* {
	padding: 0;
	margin: 0;
}
body, html, header {
	height: 100%;
	text-align: center;
}

body {
	background: url('../img/fond.jpg') bottom fixed;
	background-size: cover;
}

header {
	position: relative;
	height: 100%;
	/*width: 100%;*/
}

header .menu {
	position: absolute;
	top: 0;
	width: 100%;
	background: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

header .menu ul {
	display: flex;
	justify-content: flex-end;
	margin: 0;

}

header .menu li {
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	width: 150px;
	height: 50px;
	line-height: 50px;
	list-style-type:none;
}

header .menu a {
	font-size: 1.1em;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
}

header .menu a:hover li {
	background: rgba(255, 255, 255, 0.1);
}

header #descritpion {
	font-family: 'Dancing Script', cursive;
	font-size: 1.6em;
	height: 50px;
	line-height: 50px;
	color: rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 0;
	left: 20px;
}


#fond-header {
	background: transparent;
	position: relative;
}

#fond-white {
	background: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25%;
}

#middle {
	height: 13vh;
}

#middle h1 {
	font-family: 'Wire One', sans-serif;
	color: white;
	margin: 0;
	margin-left:30%;
	margin-right:30%;
	background: rgba(255,255,255,0,0);
	border: 1px solid white;
	padding:30px;
	letter-spacing:5px;
}