doctype html
html(lang="en")
  include ./includes/head.jade

  body
    include ./includes/header.jade

    - for (var i = 0; sectionsTab[i]; i++)
      section(id="s-" + sectionsTab[i])

    script connect();
    script timeline();
    script hobbies();
    script skills();
    script citation('"Slow and methodical testing like this will eventually get you to a point where you will either be able to spot the bug, or go quietly insane. Maybe both."', "s-connect");
    script citation('"Computers are like Old Testament gods - lots of rules and no mercy.""', "s-hobbies");

    script.
      $("#a-connect").attr("href", "#my-name");

    include ./includes/footer.jade

