* {
	padding: 0;
	margin: 0;
}
body, html, header {
	height: 100%;
	text-align: center;
}

body {
	background: url('../img/fond.jpg') bottom fixed;
	background-size: cover;
}

header {
	position: relative;
	height: 100%;
}

header .menu {
	position: absolute;
	top: 0;
	width: 100%;
	background: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

header .menu ul {
	display: flex;
	justify-content: flex-end;
	margin: 0;

}

header .menu li {
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	width: 150px;
	height: 50px;
	line-height: 50px;
	list-style-type:none;
}

header .menu a {
	text-decoration: none;
	font-size: 1.1em;
	color: rgba(255, 255, 255, 0.9);
}

header .menu a:hover li {
	background: rgba(255, 255, 255, 0.1);
}

header #descritpion {
	font-family: 'Dancing Script', cursive;
	font-size: 1.6em;
	height: 50px;
	line-height: 50px;
	color: rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 0;
	left: 20px;
}


#fond-header {
	background: transparent;
	position: relative;
	height: 75%;
}

#fond-white {
	/*background: white;*/
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25%;
}

.middle {
	font-family: 'Wire One', sans-serif;
	color: white;
	margin: 0;
	margin-left:30%;
	margin-right:30%;
	background: rgba(255,255,255,0,0);
	border: 1px solid white;
	padding:30px;
	letter-spacing:5px;
}

footer {
	position: relative;
	height: 100px;
	width: 100%;
}

footer #cont-used {
	top: 0;
	width:100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content:flex-end;
}

footer #cont-me {
	position: absolute;
	color: rgba(0,0,0,0.6);
	top:0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-transform: uppercase;
}


footer li {
	list-style-type: none;
	position: relative;
	width: 100%;
	padding: 15px;
	font-size: 2.2em;
	position: relative;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
	letter-spacing: 4px;
}
footer #cont-me:hover {
	background: rgba(255,255,255,0.3);
}