#s-timeline {
	padding: 70px;
}

#s-timeline table {
	width: 100%;
}

#s-timeline tr {
	font-family: 'Arvo', serif;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-background-clip: padding-box;  for Safari 
    background-clip: padding-box;
}

#s-timeline td {
}

#s-timeline .qt-begin {
	font-size: 2em;

}

#s-timeline .qt-end {
	font-weight: bold;
	font-size: 2em;
}

#s-timeline .qt-img {
	opacity: 0.8;
}