#s-timeline {
	padding: 70px;
}

#s-timeline .qt {
	font-family: 'Arvo', serif;
	display: flex;
	justify-content: space-around;
	margin: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

#s-timeline .qt-qt {
	height: 100px;
	line-height: 100px;
	padding: 10px;
	margin: 1px;
}

#s-timeline .qt-begin {
	font-size: 0.6em;

}

#s-timeline .qt-end {
	font-weight: bold;
	min-width: 280px;
	font-size: 3em;
}