#s-skills {
	padding: 100px;
}

#s-skills h3 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
	font-size: 2.4em;
}

#s-skills #cont-lang {
	display: flex;
	justify-content:space-around;
}

#s-skills .lg-name {
	font-size: 2.9em;
	border: 2px solid transparent;

	font-family: 'Arvo', serif;
}

#s-skills .lg-name:hover {
	border: 2px solid black;
}


#s-skills .lg-lvl {
	font-size: 1.6em;
	font-family: 'Arvo', serif;

}

.lg-lvl4 { color: #008000; }
.lg-lvl3 { color: #008000; }
.lg-lvl2 { color: #FF8C00; }
.lg-lvl1 { color: #8B0000; }

#s-skills .sk-name {
	font-family: 'Arvo', serif;
	background: black;
	color: rgba(255,255,255,0.8);
	font-size: 1.3em;
	padding: 5px;
	padding-left: 15px;
	margin-bottom: 30px;
}

#s-skills .class-skills {
	padding: 20px;
	margin-bottom: 100px;
}

#s-skills #cont-techno {
	position: relative;
	height: 350px;
	display: flex;
	justify-content: center;
}

#s-skills .tk-bar {
	font-family: 'Arvo', serif;
	text-transform: capitalize;
	color: rgba(255,255,255,0.8);
	padding-top: 10px;
	background: black;
	font-size: 1.2em;
}

#s-skills .cont-tk {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content:space-between;

}

#s-skills .tk {
	width: 60px;
	height: 100%;
	margin-left: 3px;
	margin-right: 3px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#s-skills .tk-bar {
	background: black;
	width: 100%;
}

#s-skills .tk-bar:hover {
	color: white;
}

#s-skills .cate {
	padding: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding-left: 75px;
	padding-right: 75px;
}

#s-skills .cate-name {

	position: relative;
	top: 110%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
}

#s-skills .cate-write {
	/*position: relative;*/
	/*font-family: 'PT Sans Narrow', sans-serif;*/
	/*font-weight: bold;*/
	/*font-size: 1.6em;*/
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	background: red;
	/*min-width: 1px;*/
}

#s-skills .cate-border {
	position: relative;
	width: 100%;
	border-top: 2px solid #333;
	top: 12px;
}

#s-skills .plus {
	position: absolute;
	top: 100%;
}