footer
	svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", viewBox="0 0 1000 20", preserveAspectRatio="none", width="100%", height="100%")
		polygon(points="0,0 1000,0 650,8", style="fill:#fff;")

	div#cont-used
		//- div.use= "Javascript"
		//- div.use= "Jquery"
		//- div.use= "Jade"
		//- div.use= "Json"
		//- div.use= "Express"