#s-connect {
	position: relative;
}

#s-connect h1 {
	font-family: 'Raleway', sans-serif;
	position: relative;
	top: -80px;
	margin: 0;
	padding: 0;
	font-size:5em;
}

#s-connect h2, #s-connect a {
	font-family: 'Raleway', sans-serif;
	color:rgba(20, 20, 20, 0.2);
}

#other-coo {
	padding-top: 90px;
}

#other-coo h2, #other-coo a{
	color: black;
	font-size: 2em;
}

#other-coo {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

#other-coo img {
	margin: 10px;
}

.other-coo {
	width: 33%;
}