#s-skills {
	padding: 100px;
}

#s-skills h3 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
	font-size: 2.4em;
}

#s-skills #cont-lang {
	display: flex;
	justify-content:space-around;
}

#s-skills .lg-name {
	font-size: 2.9em;
	border: 2px solid transparent;

	font-family: 'Arvo', serif;
}

#s-skills .lg-name:hover {
	border: 2px solid black;
}


#s-skills .lg-lvl {
	font-size: 1.6em;
	font-family: 'Arvo', serif;

}

.lg-lvl4 { color: #008000; }
.lg-lvl3 { color: #008000; }
.lg-lvl2 { color: #FF8C00; }
.lg-lvl1 { color: #8B0000; }

#s-skills .sk-name {
	font-family: 'Arvo', serif;
	background: black;
	color: rgba(255,255,255,0.8);
	font-size: 1.5em;
	padding: 5px;
	padding-left: 15px;
	margin-bottom: 30px;
}

#s-skills .class-skills {
	padding: 20px;
	margin-bottom: 100px;
}

#s-skills .tk {
	/*background: red;*/
	border: 2px solid rgba(0,0,0,0);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
	width: 210px;
	height: 150px;
	margin: 7px;
	margin-bottom: 100px;
}
#s-skills .tk:hover {
	/*background: red;*/
	border-bottom: 2px solid rgba(0,0,0,1);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

#s-skills .tk-name {
	line-height: 100px;
	font-family: 'Arvo', serif;
	text-transform: capitalize;
	font-size: 3em;
}

#s-skills .tk-raw {
	display: flex;
	justify-content:space-around;
}